@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

body {
  color: white;
  display: flex;
  flex-direction: column;
  background-color: #070815;
  position: relative;
  padding-top: 5rem;
}

a {
  text-decoration: none;
  color: inherit;
}
input {
  color: #070815;
}


/* CSS For Logo Slider */

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(-200px * 10)); }
}

.slider {
  background: transparent;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 95%;
  margin: auto;
  /* border: 1px solid white; */
  display: flex;
  align-items: center;
}

.slider::before,
.slider::after {
  /* background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); */
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(200px * 20);
}

.slide {
  height: 100px;
  width: 200px;
}

